.ClickingAnimation {

}
.effectContainer{
  position:relative;
  overflow: hidden;

  --effect-name: ripple;
  --effect-duration: 1s;
  --effect-top:0px;
  --effect-left:0px;
  --effect-height:0;
  --effect-width:0;
  --effect-color: var(--primary-hover-color);
}
.effectContainer::before {
  content: "";
  position: absolute;
  opacity: 0.3;
  top: var(--effect-top);
  left: var(--effect-left);
  height: var(--effect-height);
  width: var(--effect-width);
  border-radius: 50%;
  transform: scale(0);
  background: var(--effect-color);
}
.active::before {
  border-radius: 50%;
  animation:ripple var(--effect-duration) linear forwards;
}

@keyframes ripple {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(6);
    opacity: 0;
  }
}