@import "reset";
@import "./variables/global";
@import "./themes/dark";
@import "./themes/normal";

body {
    font : var(--font-m);
    color: var(--primary-color);
}

.app {
    min-height : 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
}
.NavBar__flex{
    flex: 0 1 auto;
}
.content-page {
    flex: 1 1 auto;
    height: 100%;
    display: flex;
}

.page-wrapper {
    flex:1;
    display: flex;
}