.LoginForm {
    width: var(--login-form-width);
    height: var(--login-form-height);
    background-color: var(--bg-color);
    padding: 30px;
}

.wrap {
    padding-top: 20px;
    display:flex;
    flex-direction: column;
}

.loginform__input {
    color: var(--color-text);
}

.btnAdditional {
    margin-top: 20px;
    width: 100%;
}

.createOrJoin {
    display: flex;
}

.InputError {
    border: solid 3px var(--button-disabled-color);
}
