.app-dark {
    --bg-color: #000000;//rgb(35 32 32 / 80%);
    // primary
    --primary-color: rgb(255, 212, 40);
    --primary-color-opacity: rgba(255, 212, 40, 0.5);


    // secondary
    --secondary-color: #fff;



}