.app-dark {
    --bg-color: #000000;//rgb(35 32 32 / 80%);
    // primary
    --primary-color: rgb(255, 212, 40);
    //primary hover
    --primary-hover-color: rgba(255, 212, 40, 0.5);
    //secondary-hover
    --secondary-hover-color: #424242;

    // secondary
    --secondary-color: #fff;



}