.app-light {
    --bg-color :#ffffff;

    // primary
    --primary-color:#000000;
    //primary hover
    --primary-hover-color: rgba(0, 0, 0, 0.5);
    // secondary
    --secondary-color:#595959;
    //secondary hover
    --secondary-hover-color: #424242;

}