.Navbar {
    position: relative;
    width: 100%;
    height: var(--navbar-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:20px;
    background: var(--bg-color);
    font: var(--font-l)
}

.links {
    margin-left: auto;
}

.mainLink {
    margin-right: 15px;
}

.switcher {
    margin-left: 30px;
    display: flex;
    gap:15px;
    align-items: center;
}

.Setting {
    width: 40px;
    color:var(--primary-color)
}