.ProfileMenu {
  margin-left: 10px;
  position: relative;
  background: var(--bg-color);
  text-align: center;
}


.appLink {
  font: var(--font-l);
  text-decoration: none;
}
.appLink:hover {
  background: var(--secondary-hover-color);
}
.btn:focus {
  background: var(--primary-hover-color);
}
.btn {
  width: 100px;
  height: 40px;
  border: none;
  border-radius: 0;
  position: relative;
  transition:hover .2s ease;
}
.btn:hover {
  background: var(--primary-hover-color);
}
.Links__group{
  background: var(--bg-color);
  width: 100px;
  position: absolute;
  border-radius: 2%;
  display: flex;
  flex-direction: column;
  z-index: 5;
  transform: translateY(0px);
  opacity: 1;
  visibility: visible;
  transition:all .3s ease-out;
}
.Links__display {
  transform:translateY(-9px);
  opacity: 0;
  visibility: hidden;
  z-index: -2;
}
