.ProfileMenu {
  margin-left: 10px;
  position: relative;
  background: var(--bg-color);
  text-align: center;
}


.appLink {
  font: var(--font-l);
  text-decoration: none;
}
.appLink:hover {
  background: var(--secondary-hover-color);
}
.btn:focus {
  background: var(--primary-hover-color);
}
.btn {
  width: 100px;
  height: 40px;
  border: none;
  border-radius: 0;
  position: relative;
  transition:hover .2s ease;
}
.btn:hover {
  background: var(--primary-hover-color);
}
.Links__group{
  background: var(--bg-color);
  padding: .6rem;
  width: 100px;
  position: absolute;
  border-radius: 2%;
  display: flex;
  flex-direction: column;
  z-index: 5;
  transform: translateY(0px);
  opacity: 1;
  visibility: visible;
  transition:all .3s ease-out;
}
.Links__display {
  transform:translateY(-9px);
  opacity: 0;
  visibility: hidden;
  z-index: -2;
}
.effectContainer{
  position:relative;
  overflow: hidden;

  --effect-name: ripple;
  --effect-duration: 2s;
  --effect-top:0px;
  --effect-left:0px;
  --effect-height:10rem;
  --effect-width:10rem;
  --effect-color: var(--primary-hover-color);
}
.effectContainer::before {
  content: "";
  position: absolute;
  opacity: 0.3;
  top: var(--effect-top);
  left: var(--effect-left);
  height: var(--effect-height);
  width: var(--effect-width);
  border-radius: 50%;
  transform: scale(0);
  background: var(--effect-color);
}
.active::before {
  border-radius: 50%;
  animation:ripple var(--effect-duration) linear forwards;
}

@keyframes ripple {
  from {
   transform: scale(0);
  }
  to {
    transform: scale(6);
    opacity: 0;
  }
}